<!-- Footer -->
<footer id="footer">
    <div class="container" itemscope itemtype="https://schema.org/LocalBusiness">
        <ul class="copyright">	
	    <li><i class="icon fa-phone" aria-hidden="true"></i> <a href="tel:737475359"><span itemprop="telephone">737 475 359</span></a></li>
	    <li><i class="icon fa-envelope" aria-hidden="true"></i> <a href="mailto:magdalena.dlugolecka@dobrostan.org.pl"><span itemprop="email">magdalena.dlugolecka@dobrostan.org.pl</span></a></li>
	    <li><i class="icon fa-map-marker" aria-hidden="true"></i> <a href="https://maps.app.goo.gl/4iZVyZR6NNuaDbR56"><span itemprop="address">Sobótki 17/5 | 80-247 Gdańsk</span></a></li>
       	    <li><i class="fab fa-facebook-square" aria-hidden="true"></i><a href="https://www.facebook.com/DobroStan.Mindfulness.Psychoterapia">Facebook</a></li>
	    <li><i class="fab fa-youtube" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCHac7G0qDCetpQ3VOhFbFEw">Youtube</a></li>
        </ul>
    </div>
</footer>
